body{
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 30%;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    display: flex;
    gap: 15px; /* Espacio entre botones */
}

.boton2, .boton, button {
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    background: rgb(215, 176, 106);
    color: white;
}

h1{
    color: rgb(233, 238, 245);
    font-size: 20px;
    padding: 20px;
}

button{
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: rgb(215, 176, 106);
    color: white;
}


button:hover {
    animation-delay: 3s;
    transform: translate(0%, -2%) scale(1.1);
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(193, 159, 96);
    transition: all 1.2s;
}

button:hover:before {
    animation-delay: 3s;
    transform: translate(0%, -2%) scale(1.1);
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(193, 159, 96);
    transition: all 1.2s;
}

@media screen and (max-width:630px){
    h1{        
        font-size: 16px;        
    }
}