html {
    background:rgb(215, 176, 106);
}

button{
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: rgb(109, 88, 88);
    color: white;
}


button:hover {
    animation-delay: 3s;
    transform: translate(0%, -2%) scale(1.1);
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(0, 0, 0);
    transition: all 1.2s;
  }

  button:hover:before {
    animation-delay: 3s;
    transform: translate(0%, -2%) scale(1.1);
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(0, 0, 0);
    transition: all 1.2s;
  }

@media screen and (max-width:630px){
    h1{        
        font-size: 16px;        
    }
}